<ion-header>
  <ion-toolbar>
    <ion-title>Favoris</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let city of favoriteCities">
        <ion-card (click)="viewCityDetails(city)">
          <ion-card-header>
            <ion-card-title>{{ city.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Température : {{ cityWeather[city.name]?.temperature || '--' }}°C</p>
            <p>Code météo : {{ cityWeather[city.name]?.weathercode || '--' }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>