<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/accueil"></ion-back-button>
    </ion-buttons>
    <ion-title>Recherche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nom de la ville</ion-label>
    <ion-input [(ngModel)]="cityName" (ionInput)="onSearchChange($event)"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="searchCity()">Rechercher</ion-button>

  <ion-list *ngIf="suggestions.length > 0">
    <ion-item *ngFor="let suggestion of suggestions">
      <ion-label>
        {{ suggestion.name }} ({{ suggestion.country }})
      </ion-label>
      <ion-button slot="end" (click)="addToFavorites(suggestion)">Ajouter</ion-button>
    </ion-item>
  </ion-list>

  <div *ngIf="weather">
    <h2>Météo actuelle pour {{ cityName }}</h2>
    <p>Température : {{ weather.temperature }}°C</p>
  </div>
</ion-content>